{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": true,
            "regenerator": false,
            "moduleName": "babel-runtime"
          }
        ]
    ]
}
